.navbar{
    position: sticky;
    width:100%;
    height:65px;
    min-height: 60px;
    background-color: white;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
    display:flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    overflow: auto;
    min-width: 0;
    z-index: 1000;
}
.logo{
    align-items: center;
    max-width:20%;
    display: flex;
    flex-direction: row;
    overflow: hidden;
    min-width: 35%;
    flex:1;
}
.icon{
    width:40px;
    height: 50px;
    align-items: center;
    align-self: center;
    flex-shrink: 0;
}
.logoTitle{
    align-items: center;
    font-size: clamp(1rem, 2.5vw, 2rem);
    font-family: 'Inter', sans-serif;
    font-weight: 700;
    flex: 1;
    white-space: nowrap;     /* Critical */
    overflow: hidden;        /* Critical */
    min-width: 0;
    font-size-adjust: 0.5;
}
.search{
    flex: 0 20 30%;
    display: flex;
    height:50%;
    background-color: #F9FAFB;
    padding:0.5rem 1rem;
    font-size:0.875rem;
    border:1px solid #F9FAFB;
    border-radius:0.5rem;
    outline:none;
    min-width: 20%;
    flex-shrink: 10;
    overflow: hidden;
}
.searchInput{
    display: flex;
    background-color: #F9FAFB;
    width:100%;
    height:100%;
    outline:none;
    border:none;
    min-width: 0;
    flex: 1;
}
.search:focus{
    box-shadow:0 0 0 2px rgba(79,70,229,.2);
}
.rightNav{
    display: flex;
    padding-right: 2%;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding-left: auto;
    background-color: #ffffff;
    gap: 5%;
    flex-shrink: 1;
    min-width: 0;
}
.rightNavImages{
    flex:1;
    flex-shrink: 1;
    min-width: 0;
}
.sidebar{
    background-color: #ffffff;
    border-radius: 16px;
    width: 5%;
    min-width: 80px;
    z-index: 1000;
    border-right: 1px solid #E5E7EB;
    display:flex;
    flex-shrink: 0;
    flex-direction: column;
    justify-content: space-between;
    height:100%;
    min-height: 100%;
    overflow-y: auto;
}
.sidebarTop{
    display: flex;
    flex-shrink: 0;
    margin-top: 1rem;
    gap:1rem;
    width:90%;
    flex-direction: column;
    flex-shrink: 0;
}
.sidebarImgContainer{
    margin-left: auto;
    margin-right: auto;
    width:90%;
    height:4rem;
    align-items: center;
    display: flex;
    flex-shrink: 0;
    background-color: #0b1e5ec8;
    border-radius: 16px;
    cursor: pointer;
    user-select: none;
}
.sidebarImgContainerWhite{
    margin-left: auto;
    margin-right: auto;
    width:90%;
    height:4rem;
    align-items: center;
    display: flex;
    flex-shrink: 0;
    background-color: #ffffff;
    border-radius: 16px;
    cursor: pointer;
    user-select: none;
}
.sidebarImg{
    width:32px;
    height:32px;
    align-items: center;
    align-self: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
    user-select: none;
}